#title {
    color: rgb(16, 71, 252);
}

.link {
    color: rgb(27, 161, 83);
    font-size: 1.5em;
 
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

footer{
    text-align: center;
    font-style: italic;
    font-size: small;
}

*{
    background-color: cornsilk;
}